

.display-container {
    display: grid;
    grid-template-columns: 35% 65%;
    border-top: 1px solid gray;
}

.right-container > h4 {
    color: gray;
    padding-top: 2px;
}

.bottom-container {
    display: flex;
    gap: 1rem;
}

.bottom-container > p {
    color: gray;
}
