.signup-box {
  width: 400px;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.submit {
  padding: 10px;
  background-color: #e32359;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}

.submit:disabled {
  background-color: #ccc;
}

.errors {
  color: red;
  margin-top: 10px;
}
