.event-box {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  justify-content: center;
}

.event-display-container {
  display: flex;
  gap: 1.25rem;
  padding-top: 1.2rem;
  border-top: 1px solid rgba(128, 128, 128, 0.788);
}

.right-container-events {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right-container-events > span {
  font-size: 16px;
  color: teal;
}

.right-container-events > h2 {
  padding: 8px 0;
}

.right-container-events > h4 {
  color: gray;
  font-size: 14px;
}

.list-item > div > p {
  font-size: 15px;
  padding: 15px 0;
  text-align: start;
}

.left-container-events > img {
  height: 160px;
  width: 285px;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  justify-content: center;
  border-radius: 8px;
}
