.footer-container {
    margin-top: 20vh;
    height: 300px;
    background-color: #212121;
}

.footer-content {
    padding-top: 20px;
    width: 980px;
    max-width: 1024px;
    padding: auto 10px;
    margin: auto;

}

.footer-content * {
    color: white;
}

.footer-header {
    font-size: 16px;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
}

.footer-tech {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.footer-about_me {
    font-size: 14px;
    padding-top: 10px;
}

.footer-links {
    display: flex;
    gap: 1rem;
    font-size: 16px;
}

.footer-tag {
    padding-top: 30px;
    font-size: 14px;
}
