.hidden {
    display: none;
}

.nav-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.356);
    list-style: none;
}

.nav-title {
    font-size: 46px;
    text-decoration: none;
    color: #e32359;
    font-weight: bold;
    font-family: 'Oleo Script', cursive;
}

.nav-logged-out {
    display: flex;
    gap: 20px;
    width: 200px;
    margin-right: 0;
}

.nav-logged-out > div:first-child {
    font-size: 15px;
    font-weight: 500;
}

.nav-logged-out > div:first-child:hover {
    color: rgba(0, 128, 128, 0.8);
}

.nav-logged-out > div:last-child {
    border-radius: 8px;
    background-color: #00798a;
    border-color: #00798a;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.nav-logged-out > div:last-child:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 128, 0.8);
}

.nav-logged-out > div {
    cursor: pointer;
    padding: 8px 16px;
}

.nav-logged-in {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logged-in > a {
    text-decoration: none;
    color: teal;
    font-size: 14px;
}

.profile-dropdown {
    border: 2px solid black;
    background-color: white;
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    z-index: 1000;
    list-style: none;
    width: fit-content;
    padding: 5px 15px;
}

.profile-dropdown > li {
    padding: 3px;
    font-size: 14px;
}

.profile-dropdown > li:last-child {
    border-top: 2px solid gray;
    padding-top: 6px;
    cursor: pointer;
}

.profile-dropdown > li:nth-child(3) {
    padding-bottom: 6px;
}

.nav-profile-btn {
    display: flex;
    align-items: center;
}

.nav-profile-btn > i {
    cursor: pointer;
    margin: 0 3px;
    font-size: 18px;
}

.nav-profile-btn > i:first-child {
    font-size: 26px;
    color: #e32359;
}
