#modal-content {
  width: 404px;
  max-height: 784px;
  padding: 2rem 2.5rem;
  border-radius: .5rem;
}

/* .login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.login-box > i {
  font-size: 45px;
  display: flex;
  justify-content: center;
  color: rgb(246, 64, 96);
}

.login-box > h1 {
  text-align: center;
  margin: 8px auto;
  font-size: 1.75rem;
}

.login-member-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.login-member-sign > div {
  color: #00798A;
  cursor: pointer;
}

.login-box > form {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

/* .login-box > label {
  display: flex;
  flex-direction: column;
}

.login-box > input {
  margin-top: 25px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
} */

.submit {
  margin-top: 8px;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 24px;
  height: 2.5rem;
  background-color: #e32359;
  border: none;
  color: white;
  fill: white;
  border-radius: 8px;
  cursor: pointer;
}

.submit:disabled {
  background-color: #ccc;
}

.demo-separator {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator-text {
  padding: 0 5px;
  color: gray;
}

.separator-border {
  border: 0.01rem solid lightgray;
  width: 100%;
}

.demo-login {
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  height: 50px;
}

.demo {
  display: flex;
  margin-left: 6rem;
  font-weight: 400;
}


.demo-login > i {
  font-size: 22px;
  color: #00798A;
  padding-left: 1.5rem;
}


.password-input {
  position: relative;
  display: inline-block;
}

.password-input > input {
  padding-right: 2.5rem;
  width: 87%;
}

.password-input > i {
  position: absolute;
  top: 45%;
  right: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}
